.add-post {
  padding: 40px;
  background-color: #eee;
}

.add-post input {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: 18px;
  border: none;
}

.add-post textarea {
  width: 100%;
  height: 200px;
  padding: 18px;
  border: none;
  font-size: 18px;
  font-weight: 400;
}

.add-post select {
  margin: 20px 0 0 20px;
}

.add-post button {
  float: right;
  margin: 14px 20px 0 0;
}
