.comment {
  margin: 0 0 20px 0;
  padding: 20px 40px 30px 40px;
  background-color: #f5f5f5;
  font-size: 18px;
  font-weight: 300;
}

.comments-search {
  float: right;
}

.comments-post {
  padding: 0 20px;
  font-size: 18px;
  font-weight: 300;
}

.comments-post h2 {
  margin: 0;
  font-size: 30px;
}

.comments-post .info,
.comment .info  {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #bbb;
}

.comment-form {
  margin: 20px 0 0 0;
  padding: 0;
}

.comment-form textarea {
  width: 100%;
  height: 200px;
  padding: 20px 40px 30px 40px;
  border: 1px #ccc solid;
  font-size: 16px;
  font-weight: 300;
}

.edit-delete {
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  color: #f00;
}
