body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3D3935;
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

.container {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 40px;
}

#main {
  margin-top: 120px;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #3D3935;
}

a:hover,
a:active {
  color: #83c1e0;
}

.search input {
  width: 150px;
  margin: 0 0 30px 0;
  padding: 5px;
  font-size: 16px;
  font-weight: 300;
  text-align: right;
}

button {
  display: inline-block;
  margin: 14px 0 50px 40px;
  padding: 15px 32px;
  background-color: #83c1e0;
  border: none;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
