body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3D3935;
}

h1 {
  font-weight: 600;;
}

h2 {
  font-weight: 500;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 50px;
}
