.posts {
  float: left;
  width: 65%;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: #f5f5f5;
}

.posts h2 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.posts p {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-weight: 600;
  color: #bbb;
}

.num-comments {
  float: right;
  font-weight: 600;
}

.sidebar {
  position: absolute;
  float: right;
  width: 25%;
  top: 0;
  right: 0;
  margin: 0;
  text-align: right;
}

.sidebar p {
  margin: 0;
  font-weight: 400;
}

#posts-container {
  position: relative;
}

.forum {
  margin: 0 0 30px 0;
  font-size: 30px;
  font-weight: 300;
  color: #83c1e0;
}
