<div id="comments-container">

  <div class="search comments-search">
    <input ng-model="searchFor" placeholder="Search" />
  </div>

  <div class="comments-post">

    <!-- TODO: need to get post's forum from db  -->
    <span class="post-forum">Angular /</span>

    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>

    <!-- TODO: need to get number of comments from db -->
    <p class="info">
      {{ post._id }} -
      {{ TimeService.relativeDate(post.created) }}
      <span class="num-comments"> 13 Comments</span>
    </p>

    <!-- TODO: This only shows up for post author  -->
    <a ui-sref="edit-post({ post: post })">
      <span class="edit-delete">EDIT<span>
    </a> /
    <span ng-click="deletePost(postId)" class="edit-delete">DELETE</span>
    <br /><br />

  </div>

  <div>
      <div class="comment" ng-repeat="comment in comments | filter:searchFor">
        <p>{{ comment.body }}</p>
        <p class="info">{{ comment.userId }} -
          {{ TimeService.relativeDate(comment.timeStamp) }}
        </p>

        <!-- TODO: This only shows up for comment author  -->
        <span class="edit-delete" ng-click="deleteComment(comment.commentId)">DELETE</span>

      </div>
  </div>

  <div class="comment-form">
    <form name="addCommentForm"
          ng-submit="submit()">

        <textarea ng-model="newCommentBody"
                  class="boxsizingBorder"
                  required
                  placeholder="The floor is yours."></textarea>

        <button type="submit"
                ng-disabled="addCommentForm.$invalid"
                ng-Class="(newCommentBody) ? 'buttonEnabled' : 'buttonDisabled'">
          Post a Comment</button>

    </form>
  </div>
</div>
