<div id="comments-container">

  <div class="search comments-search">
    <input ng-model="searchFor" placeholder="Search" />
  </div>

  <!-- {{ postId }} -->

  <div class="comments-post">
    <span class="post-forum">Angular /</span>
    <h2>The pros and cons of two-way data binding in AngularJS and Angular2</h2>
    <p>Webtwo ipsum dolor sit amet, eskobo chumby doostang bebo. Wakoopa bebo zillow insala wesabe hipmunk wesabe, lijit spotify voki doostang diigo etsy woopra kno, gooru chegg heroku jajah fleck lala. Klout foodzie ebay oooj skype odeo yammer udemy hulu, oooooc plickers movity greplin jabber ngmoco ifttt vimeo imeem, qeyno cuil lala jabber waze oovoo prezi.</p>
    <p class="info">Spiny Norman - 2 days ago <span class="num-comments"> 13 Comments</span></p>
    <span class="edit-delete">
      <span ng-click="editPost(postId)">EDIT</span> /
      <span ng-click="deletePost(postId)">DELETE</span>
    </span><br /><br />
  </div>

  <div>
      <div class="comment" ng-repeat="comment in comments | filter:searchFor">
        <p>{{ comment.body }}</p>
        <p class="info">{{ comment.userId }} - {{ comment.timeStamp }}</p>
        <span class="edit-delete" ng-click="deleteComment(comment.commentId)">DELETE</span>
      </div>
  </div>

  <div class="comment-form">
    <form>
      <textarea class="boxsizingBorder"></textarea><br />
      <button>Post Comment</button>
    </form>
  </div>
</div>
