

<div id="posts-container">

  <div class="posts" ng-repeat="post in posts | filter:searchFor">
    <a href="#/posts/{{ post.id }}">
      <h2>{{ post.title }}</h2></a>
      <p>{{ post.author }}  - {{ post.created }} <span class="num-comments">45 Comments</span></p>
  </div>

  <div class="sidebar">
    <div class="search">
      <input ng-model="searchFor" placeholder="Search" />
    </div>

    <br />

    <div class="forum">
      JavaScript
    </div>


    <p><a>Angular</a></p>
    <p><a>Backbone</a></p>
    <p><a>GIT</a></p>
    <p><a>Floobits</a></p>
    <p><a>REST</a></p>
    <p><a>NodeJS</a></p>
    <p><a>Self Assessments</a></p>
    <p><a>React</a></p>
    <p><a>Redux</a></p>
    <p><a>Algorithms</a></p>
    <p><a>Databases</a></p>
    <p><a>MVC</a></p>
    <p><a>Underscore</a></p>
    <p><a>Functional Programming</a></p>
    <p><a>UNIX</a></p>
    <p><a>Heroku</a></p>
    <p><a>JavaScript</a></p>
    <p><a>HTML/CSS</a></p>
    <p><a>Toy Problems</a></p>
    <p><a>Self Assessments</a></p>
    <p><a>MVC</a></p>
    <p><a>Underscore</a></p>
    <p><a>UNIX</a></p>
    <p><a>Heroku</a></p>
    <p><a>JavaScript</a></p>
    <p><a>HTML/CSS</a></p>
    <p><a>Toy Problems</a></p>
    <p><a>Self Assessments</a></p>
  </div>
</div>
